th {
    padding: 5px;
}

td {
    padding: 5px;
}

.account-form {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

#accounts-table {
    margin-top: 20px;
}

#labs-table {
    margin-top: 20px;
}

/* TODO margin on grid incons? */
/*a > span {*/
/*margin: 0px 10px;*/
/*}*/
